{% extends 'layout.html' %}
{% load static %}

{% block title %}Vermittlungsplatform für Erntehelfer und Landwirte{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.team-container {
  display: block;
  background: #F5F5F5;
}

.team-container img {
  filter: grayscale(1);
  transition: filter .3s;
}

.team-container img:hover {
  filter: grayscale(0);
}

.homepage-button:hover {
    text-decoration: none;
}

.header {
  padding: 12rem 0;
}

@media screen and (max-width: 992px) {
  .header {
    padding: 4rem 0;
  }
}
</style>
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="header text-center" style="background-image: url('{% static 'img/dan-meyers-IQVFVH0ajag-unsplash.jpg' %}');">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-12 my-4 my-lg-0 col-lg">
        <a href="/tasks" class="homepage-button">
          <button class="btn btn-lg btn-block btn-outline-light btn-outline-shadow shadow" style="height: 5rem;">
            <i class="fas fa-fw fa-hands-helping mr-2"></i>
            Mithelfen
          </button>
        </a>
      </div>
      <div class="col d-none d-lg-block text-center text-light">
        <p class="m-0 text-uppercase">oder</p>
      </div>
      <div class="col-12 col-lg">
        <a {% if request.user.is_authenticated %}href="/tasks/create"{% else %}href="/accounts/register"{% endif %} class="homepage-button">
          <button class="btn btn-lg btn-block btn-outline-light btn-outline-shadow shadow" style="height: 5rem;">
            <i class="fas fa-fw fa-search mr-2"></i>
            Nach Helfern suchen
          </button>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="container my-5">
  <h3 class="mt-5 text-center font-weight-bold text-dark">Was wir bewegen wollen</h3>

  <hr class="hr-replacement mt-3 mb-5" />

  <div class="mx-auto my-4 text-center embed-responsive embed-responsive-16by9" style="display: block; max-width: 750px;">
    <iframe src="https://www.youtube.com/embed/PqQPJUPv3DM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="d-block my-5" style="line-height: 1.8rem !important;">
    <p>
      In Krisenzeiten zeigt sich, wie stark die Bevölkerung zusammenhält und welche neuen Probleme auftreten.
      Auch wir möchten unseren kleinen Beitrag zur Bewältigung der durch Covid-19 ausgelösten Krise beitragen.
    </p>
    <p>
      Viele Landwirte bangen aufgrund der Corona-Krise, um ihre Ernte oder Existenz.
      Ursachen dafür sind das Wegbleiben von Kunden bei Selbstvermarktung oder das Fehlen von Erntehelfern auf den Feldern.
      Wir wollen eine Plattform für Landwirte schaffen, die dringend neue Helfer suchen und für Menschen, die Ihre Arbeitskraft zur Verfügung
      stellen wollen. Landwirtschaft macht allen Spaß - und am Ende des Tages sieht man, was man mit seinen eigenen Händen geschaffen hat.
    </p>
    <p>
      Unser Beitrag soll Landwirten aller Sparten eine kostenlose, einfache und übersichtliche Vermitttlung von Helfern geben und
      die dringend benötigten Kontakte vermitteln. Durch dieses Projekt kann die Zivilbevölkerung wieder mehr mit der heimischen Landwirtschaft
      in Kontakt kommen, die Prozesse und Sorgen von Landwirten ergründen, und einige Zeit selbst diese Arbeit verrichten.
    </p>
  </div>
</div>

<div class="team-container text-center py-5">
  <div class="container">

    <h3 class="mt-5 font-weight-bold text-dark">Das Team hinter Abernten</h3>

    <hr class="hr-replacement mt-3 mb-5" />

    <div class="row my-5 pt-5">
      <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
        <img src="{% static '/img/team/andre-kienzle.jpg' %}" style="max-height: 120px" class="rounded-circle mb-4">
        <h6 class="text-dark">André Kienzle</h6>
        <p class="text-muted">
          IT-Auszubildender
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
        <img src="{% static '/img/team/dennis-bruner.jpg' %}" style="max-height: 120px" class="rounded-circle mb-4">
        <h6 class="text-dark">Dennis Bruner</h6>
        <p class="text-muted">
          IT-Auszubildender
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
        <img src="{% static '/img/team/jacqueline-baumueller.jpg' %}" style="max-height: 120px" class="rounded-circle mb-4">
        <h6 class="text-dark">Jacqueline Baumüller</h6>
        <p class="text-muted">
          IT-Auszubildende
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
        <img src="{% static '/img/team/lukas-kielmann.jpg' %}" style="max-height: 120px" class="rounded-circle mb-4">
        <h6 class="text-dark">Lukas Kielmann</h6>
        <p class="text-muted">
          IT-Auszubildender
        </p>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid text-center py-5">
  <a href="https://wirvsvirushackathon.org">
    <img src="{% static 'img/Logo_Projekt_02.svg' %}" style="max-height: 100px;">
  </a>
  <a href="https://github.com/abernten/website">
    <img src="{% static 'img/GitHub-Mark-120px-plus.png' %}" style="max-height: 100px;">
  </a>
</div>

{% endblock %}
