{% extends 'layout.html' %}
{% load static %}

{% block title %}Startseite{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.team-container {
  display: block;
  background: #FAFAFA;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.team-container img {
  filter: grayscale(1);
  transition: filter .3s;
}

.team-container img:hover {
  filter: grayscale(0);
}

.homepage-button:hover {
    text-decoration: none;
}
</style>
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="header text-center" style="background-image: url('{% static 'img/header-bg.jpg' %}'); padding: 7rem 0;">
  <div class="container">

    <div class="row align-items-center">
      <div class="col">
        <a href="/tasks" class="homepage-button">
          <Button class="btn btn-lg btn-block btn-light" style="height: 5rem;">
            <i class="fas fa-fw fa-hands-helping mr-2"></i>
            Mithelfen
          </Button>
        </a>
      </div>
      <div class="col text-center text-light">
        <p>oder</p>
      </div>
      <div class="col">
        <a {% if request.user.is_authenticated %}href="/tasks/create"{% else %}href="/accounts/register"{% endif %} class="homepage-button">
          <Button class="btn btn-lg btn-block btn-light" style="height: 5rem;">
            <i class="fas fa-fw fa-search mr-2"></i>
            Nach Helfern suchen
          </Button>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="container my-4">
  <h4 class="my-5 text-center"><strong>Was wir bewegen wollen</strong></h4>

  <div class="mx-auto my-4 text-center embed-responsive embed-responsive-16by9" style="display: block; max-width: 750px;">
    <iframe src="https://www.youtube.com/embed/PqQPJUPv3DM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="d-block my-5" style="line-height: 1.8rem !important;">
    <p>
      In Krisenzeiten zeigt sich, wie stark die Bevölkerung zusammenhält und welche neuen Probleme auftreten.
      Auch wir möchten unseren kleinen Beitrag zur Bewältigung der durch Covid-19 ausgelösten Krise beitragen.
    </p>
    <p>
      Viele Landwirte bangen aufgrund der Corona-Krise, um ihre Ernte oder Existenz.
      Ursachen dafür sind das Wegbleiben von Kunden bei Selbstvermarktung oder das Fehlen von Erntehelfern auf den Feldern.
      Wir wollen eine Plattform für Landwirte schaffen, die dringend neue Helfer suchen und für Menschen, die Ihre Arbeitskraft zur Verfügung
      stellen wollen. Landwirtschaft macht allen Spaß - und am Ende des Tages sieht man, was man mit seinen eigenen Händen geschaffen hat.
    </p>
    <p>
      Unser Beitrag soll Landwirten aller Sparten eine kostenlose, einfache und übersichtliche Vermitttlung von Helfern geben und
      die dringend benötigten Kontakte vermitteln. Durch dieses Projekt kann die Zivilbevölkerung wieder mehr mit der heimischen Landwirtschaft
      in Kontakt kommen, die Prozesse und Sorgen von Landwirten ergründen, und einige Zeit selbst diese Arbeit verrichten.
    </p>
  </div>
</div>

<div class="team-container text-center py-5">
  <div class="container">

    <h4 class="mb-5"><strong>Das Team hinter Abernten</strong></h4>

    <div class="row">
      <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
        <img src="{% static '/img/team/andre-kienzle.jpg' %}" style="max-height: 130px" class="rounded-circle mb-4">
        <h5>André Kienzle</h5>
      </div>
      <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
        <img src="{% static '/img/team/dennis-bruner.jpg' %}" style="max-height: 130px" class="rounded-circle mb-4">
        <h5>Dennis Bruner</h5>
      </div>
      <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
        <img src="{% static '/img/team/jacqueline-baumueller.jpg' %}" style="max-height: 130px" class="rounded-circle mb-4">
        <h5>Jacqueline Baumüller</h5>
      </div>
      <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
        <img src="{% static '/img/team/lukas-kielmann.jpg' %}" style="max-height: 130px" class="rounded-circle mb-4">
        <h5>Lukas Kielmann</h5>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid text-center py-5">
  <a href="https://wirvsvirushackathon.org">
    <img src="{% static 'img/Logo_Projekt_02.svg' %}" style="max-height: 100px;">
  </a>
</div>

{% endblock %}
