{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Passwort vergessen?{% endblock %}

{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="bg1">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5 shadow-lg" style="min-height: 400px">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <form method="POST" class="form-signin">
            <h5>Passwort vergessen?</h5>
            <p>Bitte die bei der Registrierung verwendete E-Mail Adresse eingeben und das Formular absenden.</p>

            {% comment %} <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" placeholder="E-Mail Adresse" name="email">
              <label for="inputEmail">E-Mail Adresse</label>
            </div> {% endcomment %}

            {{ form | crispy }}

            {% csrf_token %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Kennwort zurücksetzen!</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
