{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Passwort vergessen?{% endblock %}

{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5 shadow-lg" style="min-height: 400px">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">

            {% if validlink %}

            <h5>Neues Passwort vergeben</h5>
            <form method="POST">

            {{ form | crispy }}

            {% csrf_token %}

            <Button class="btn btn-lg btn-primary btn-block" method="POST" type="submit" >Passwort ändern</Button>
            </form>

            {% else %}

            <p>Der angegebene Link ist ungültig. Bitte eine neue E-Mail anfordern.</p>

            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
