{% extends 'layout.html' %}

{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5 shadow-lg">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Passwort zurücksetzen</h5>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} my-2">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if form.errors %}
              {% for error in form.errors %}
                <h1>{{ error }}</h1>
              {% endfor %}
            {% endif %}

            <form method="post" action="" class="form-signin">
                <div >
                    Gib deine E-Mail Adresse ein, um einen Link zum Passwort zurücksetzen zu erhalten.

                </div>
                <div class="form-label-group">
                    <input name="username" type="text" id="inputUserame" class="form-control" placeholder="Benutzername" required autofocus>
                    <label for="inputUserame">E-Mail</label>
                </div>

              {% csrf_token %}

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">E-Mail versenden</button>
              <a class="d-block text-center mt-2 small" href="/accounts/login">Mit einem bestehenden Konto einloggen</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
