{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
  <div class="container my-3">
    <nav>
      <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Meine gemerkten Aufgaben</li>
      </ol>
    </nav>

    <table class="table table-light table-striped my-1">
      <thead class="thead-light">
        <tr>
          <th style="width: 25%">Was?</th>
          <th style="width: 10%">Wo?</th>
          <th style="width: 20%">Wer sucht?</th>
          <th style="width: 10%">Status</th>
          <th style="width: 20%">Markiert am</th>
          <th style="width: 20%">Infos</th>
        </tr>
      </thead>
      <tbody>
        <!-- Liste der verfügbaren Aufgaben anzeigen-->
        {% for interest in interested %}
          <tr>
            <td>{{ interest.task.title }}</th>
            <td>{% firstof interest.task.zip_code '-' %}</td>
            <td>{{ interest.task.company.company_name }}</td>
            <td>
              {% if interest.state == 0 %}
              Offen
              {% elif interest.state == 1 %}
              Bestätigt
              {% elif interest.state == 2%}
              Abgelehnt
              {% endif %}
            </td>
            <td>{{ interest.created_at}}</td>
            <td>
              <a class="btn btn-light rounded" href="/tasks/{{ interest.task.id }}">
                <i class="far fa-eye"></i>
                Details zur Aufgabe
              </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}
  <script>
    $(function () {
      $('.selectpicker').selectpicker();
    });
  </script>
{% endblock %}
