{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
  <div class="container my-3">
    <nav>
      <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Meine Interessenten</li>
      </ol>
    </nav>

      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} my-2">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

    <table class="table table-light table-striped my-1">
      <thead class="thead-light">
        <tr>
          <th style="width: 10%">Vorname</th>
          <th style="width: 10%">Nachname</th>
          <th style="width: 23%">Tätigkeiten</th>
          <th style="width: 24%">Erfahrung</th>
          <th style="width: 10%">Füherscheinklassen</th>
          <th style="width: 13%">Datum Interesse</th>
          <th style="width: 10%">Annehmen?</th>
        </tr>
      </thead>
      <tbody>
        <!-- Liste der verfügbaren Aufgaben anzeigen-->
        {% for interest in interested %}
          <tr>
            <td>{{ interest.citizen.owner.first_name }}</td>
            <td>{{ interest.citizen.owner.last_name }}</td>
            <td>{{ interest.task.title }}</td>
            <td>{{ interest.citizen.description }}</td>
            <td>
                {% for license in interest.citizen.drivers_licenses.all %}
                    <span class="badge badge-pill badge-secondary">{{ license.class_name }}</span>
                {% endfor %}
            </td>
            <td>{{ interest.created_at}}</td>
            {% if interest.state == 0 %}
            <td>
              <div class="btn-group float-right">
                <a class="btn-sm btn-success mr-2 rounded" href="/interests/{{ interest.id }}/accept">
                  <i class="fas fa-fw fa-check"></i>
                </a>
                <a class="btn-sm btn-danger rounded" href="/interests/{{ interest.id }}/decline">
                  <i class="fas fa-fw fa-times"></i>
                </a>
              </div>
            </td>
            {% elif interest.state == 1 %}
            <td>
              <label>Daten verschickt!</label>
            </td>
            {% elif interest.state == 2%}
              <td>
                <label>Abgelehnt!</label>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}
  <script>
    $(function () {
      $('.selectpicker').selectpicker();
    });
  </script>
{% endblock %}
