.header {
  display: block;
  width: 100%;
  padding: 2rem 0;

  background-repeat: no-repeat;
  background-position: 50%;

  color: #FFF;
}

.task, .task:hover, .task:focus {
  color: inherit;
  text-decoration: inherit;
}

.task .card {
  transition: box-shadow .12s;
}

.task:hover .card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.main-content {
  min-height: 90vh;
  position: relative;
  margin: 0;
}

.main-footer {
  height: 15vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #0e0e19;
  color: #efefef;
}

.main-footer a {
  color: #efefef;
}

.asteriskField {
  color: red;
}

.navbar-nav .nav-item {
  letter-spacing: 0.04em;
  margin-left: .5rem;
  margin-right: .5rem;
}

.hr-replacement {
  margin: 0 auto;
  height: 2px;
  background: #a88b48;
  max-width: 8rem;
  border: none;
}

.btn-outline-shadow {
  background-color: rgba(0,0,0,0.6);
}

