{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}
<div class="bg1">
  <div class="container my-3">
    <nav>
        <ol class="breadcrumb mb-1">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">Profileinstellungen</li>
        </ol>
      </nav>

    <div class="card">
        <div  class="row">
          <div class="col-3">
            <!--TODO: Default Profilbild und Abfrage-->
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" class="card-img img-fluid" style="height: 100%; width: 100%" alt="Profilbild" >
          </div>
            <div class="card-body col-9">
                <form method="post" action="">
                    <h2>Helferprofil aktualisieren</h2>
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold" style="width:25%">Führerscheinklassen: </td>
                                <td>
                                    <div class="input-group my-1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="drivers_licenses">Führerschein</label>
                                        </div>
                                        <select name="drivers_licenses" multiple data-style="bg-white" class="selectpicker border rounded" id="drivers_licenses">
                                            <!-- Führerscheinklassen -->
                                            {% for license in licenses %}
                                                <option value="{{ license.id }}" {% if license in citizen.drivers_licenses.all %}selected{% endif %}>{{ license.class_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold" style="width:25%">Geburtsdatum: </td>
                                <td>
                                    <div class="input-group my-1">
                                        <div class="input-group-prepend">
                                          <label class="input-group-text" for="date_of_birth">
                                          <i class="fas fa-calendar-alt"></i>
                                        </label>
                                        </div>
                                        <input name="date_of_birth" type="date" class="form-control" value="{{citizen.date_of_birth|date:'Y-m-d'}}" required>
                                      </div>
                                </td>
                            </tr>
                            {% comment %} <tr>
                                <td class="font-weight-bold" style="width:25%">Telefonnummer:</td>
                                <td>
                                    <input name="phone" class="form-control" value="{% firstof citizen.owner.phone '' %}" required>
                                </td>
                            </tr> {% endcomment %}
                            <tr>
                                <td class="font-weight-bold" style="width:25%">Erfahrungsbeschreibung: </td>
                                <td>
                                    <textarea name="description" class="form-control" rows="3" required>{{citizen.description}}</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    {% csrf_token %}

                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;">Speichern
                        </button>
                    </div>
                </form>
            </div>
        </div>
  </div>
</div>
{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>
{% endblock %}
