{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

    <div class="container my-3">
        <nav>
            <ol class="breadcrumb mb-1">
              <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
              <li class="breadcrumb-item active">Profileinstellungen</li>
            </ol>
          </nav>
        <div class="card">
                <form method="post" action="">
                    <h2>Firmenprofil aktualisieren</h2>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="col-3">Firmenname:</td>
                                <td><input name="company_name" class="form-control" required></input></td>
                            </tr>
                            <tr>
                                <td class="col-3">Adresse:</td>
                                <td><input name="street_1" class="form-control" required></input></td>
                            </tr>
                            <tr>
                                <td class="col-3">Adresszusatz:</td>
                                <td><input name="street_1" class="form-control" required></input></td>
                            </tr>
                            <tr>
                                <td class="col-3">Postleitzahl:</td>
                                <td><input name="zip_code" class="form-control" required></input></td>
                            </tr>
                            <tr>
                                <td class="col-3">Ort:</td>
                                <td><input name="city" class="form-control" required></input></td>
                            </tr>
                            <tr>
                                <td class="col-3">Land:</td>
                                <td><input name="country" class="form-control" required></input></td>
                            </tr>

                            <tr>
                                <td class="col-3">Telefonnummer:</td>
                                <td><input name="phone" class="form-control" required></input></td>
                            </tr>

                            <tr>
                                <td>Firmenbeschreibung: </td>
                                <td><textarea name="description" class="form-control" rows="3" placeholder="Geben Sie eine Beschreibung Ihres Betriebs ein" required></textarea></td>
                            </tr>
                            <tr>
                                <td>Betriebsnummer (optional): </td>
                                <td><input name="company_number" class="form-control" rows="3" placeholder="Geben Sie die Betriebsnummer ein (optional)"></input></td>
                            </tr>
                        </tbody>
                    </table>

                    {% csrf_token %}

                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;">Speichern
                        </button>
                    </div>
                </form>
        </div>
    </div>


{% include 'components/footer.html' %}
{% endblock %}

