{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}
<div class="bg1">
  <div class="container my-3">
    <nav>
      <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Kontoeinstellungen</li>
      </ol>
    </nav>

    <div class="card">
            <div class="card-body">
                <form method="post" action="">
                    <h2>Kontoeinstellungen ändern</h2>
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold" style="width:25%">Vorname:</td>
                                <td><input name="first_name" class="form-control" value="{{user.first_name}}" required></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold" style="width:25%">Nachname:</td>
                                <td><input name="last_name" class="form-control" value="{{user.last_name}}" required></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold" style="width:25%">Telefonnummer:</td>
                                <td>
                                    <input name="phone" class="form-control" value="{% firstof user.phone '' %}" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold" style="width:25%">E-Mail:</td>
                                <td>
                                    <input name="email" class="form-control" value="{{user.email}}" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    {% csrf_token %}

                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;">Speichern
                        </button>
                    </div>
                </form>
            </div>
  </div>
</div>
{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>
{% endblock %}

