{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Bewerbungsformular{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}
<div class="container py-4">
  <div class="alert alert-info" role="alert">
    Die E-Mail Adresse und die Telefonnummer werden dem betreffenden Betrieb erst nachdem die Bewerbung akzeptiert wurde übermittelt.<br>
    Dem Betrieb wird außerdem nur Ihr Alter und nicht das genaue Geburtsdatum gezeigt.
  </div>

  <div class="card">
    <div class="card-header">
      Bewerbungsformular
    </div>
    <div class="card-body">
      <form method="post" action="">
        {{ form | crispy }}

        {% csrf_token %}

        <div class="d-flex justify-content-center">
          <div class="text-center mt-3">
            <button class="btn btn-success text-center mx-1" type="submit">
              <i class="far fa-save fa-fw mr-2"></i>
              Bewerbung abschicken
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function () {
  $('.selectpicker').selectpicker();
});
</script>
{% endblock %}
