{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Inserat erstellen{% endblock %}

{% block content %}
  {% include 'components/navbar.html' %}

<div class="container py-4">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} my-2">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="card">
    <div class="card-header">
      <i class="fas fa-plus fa-fw mr-2"></i>
      Inserat erstellen
    </div>

    <div class="card-body">
      <form method="post" action="">
        {{ form | crispy }}

        {% csrf_token %}

        <div class="d-flex justify-content-center">
          <div class="text-center mt-3">
            <button class="btn btn-success text-center mx-1" type="submit">
              <i class="far fa-save fa-fw mr-2"></i>
              Inserat veöffentlichen
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function () {
  $('.selectpicker').selectpicker();
});
</script>
{% endblock %}
