{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/css/background.css' %}"
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
    <div class="container">
        <nav class="my-4">
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/tasks">Aufgabenliste</a></li>
                <li class="breadcrumb-item active">{{ task.title }}</li>
            </ol>
          </nav>

        <div class="card my-4 shadow">
            <div class="p-3">
                <form method="post" action="">
                    {{ form | crispy }}

                    {% csrf_token %}

                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;">Speichern!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>
{% endblock %}
