{% extends 'layout.html' %}
{% load static %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="header text-center" style="background-image: url('{% static 'img/richard-bell-vpfEhvI5UE4-unsplash.jpg' %}')">
  <div class="container-fluid">
    <h2 style="font-weight: 300 !important;">Alle Angebote</h2>
  </div>
</div>

<div class="bg1">
  <div class="container my-3">

    <!-- Filteroptionen -->
    <div class="card my-4 shadow bg-light">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg mb-3 mb-lg-0">
            <!-- Filter: Ort -->
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="location">Ort</label>
              </div>
              <input type="text" name="location" id="location" class="form-control" placeholder="Bsp.: Berlin, Nürnberg, ...">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg mb-3 mb-lg-0">
            <!-- Filter: Radius -->
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="location_radius">Umkreis (km)</label>
              </div>
              <input type="text" name="location_radius" id="location_radius" class="form-control" placeholder="-">
            </div>
          </div>
          <div class="col-12 col-sm-8 col-lg mb-3 mb-sm-0">
            <!-- Filter: Kategorien -->
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="category">Kategorie</label>
              </div>
              <select class="custom-select" name="category" id="category" length="400px">
                <!-- Liste der verfügbaren Kategorien -->
                <option value="0">Alles</option>
                {% for c in categories %}
                  <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-12 col-sm col-lg-1">
            <button class="btn btn-block btn-secondary">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    {% for task in tasks %}

    {% endfor %}

    <table class="table table-bordered my-4 rounded">
      <thead class="thead-light">
        <tr>
          <th style="width: 45%">Titel</th>
          <th style="width: 10%">Postleitzahl</th>
          <th style="width: 20%">Betrieb</th>
          <th style="width: 20%"></th>
        </tr>
      </thead>
      <tbody>
        <!-- Liste der verfügbaren Aufgaben anzeigen-->
        {% for task in tasks %}
          <tr>
            <td class="align-middle">{{ task.title }}</th>
            <td class="align-middle">{% firstof task.zip_code '-' %}</td>
            <td class="align-middle">{{ task.company.company_name }}</td>
            <td class="align-middle">
              <a class="btn btn-outline-secondary rounded" href="/tasks/{{ task.id }}">
                <i class="far fa-eye"></i>
                Details zur Aufgabe
              </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}
  <script>
    $(function () {
      $('.selectpicker').selectpicker();
    });
  </script>
{% endblock %}
