{% extends 'layout.html' %}
{% load static %}

{% block title %}Alle Inserate auf einem Blick{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="header text-center" style="background-image: url('{% static 'img/dan-meyers-IQVFVH0ajag-unsplash.jpg' %}');">
  <div class="container">
    <!-- Filteroptionen -->
    <div class="card my-5 shadow bg-light">
      <div class="card-body">
        <form method="GET" action="">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg mb-3 mb-lg-0">
              <!-- Filter: Ort -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="location">Ort</label>
                </div>
                <input type="text" name="loc" id="location" class="form-control" placeholder="Bsp.: Berlin, Nürnberg, ..." {% if request.GET.loc %}value="{{ request.GET.loc }}"{% endif %}>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg mb-3 mb-lg-0">
              <!-- Filter: Radius -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="location_radius">Umkreis (km)</label>
                </div>
                <input type="text" name="r" id="location_radius" class="form-control" placeholder="50" {% if radius %}value="{{ radius }}"{% endif %}>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg mb-3 mb-sm-0">
              <!-- Filter: Kategorien -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="category">Kategorie</label>
                </div>
                <select class="custom-select" name="cat" id="category" length="400px">
                  <!-- Liste der verfügbaren Kategorien -->
                  <option value="0">Alles</option>
                  {% for c in categories %}
                    <option value="{{ c.id }}" {% ifequal c.id|stringformat:'s' request.GET.cat %}selected{% endifequal %}>{{ c.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-12 col-sm col-lg-1">
              <button type="submit" class="btn btn-block btn-secondary">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="task-list">
    <h4 class="mb-5 text-center"><strong>{{ task_count }}</strong> Ergebnisse gefunden</h4>

    {% for task in page_obj %}

    <a href="/tasks/{{ task.id }}" class="task">
    <div class="card my-3 d-block overflow-hidden">

      <div class="row">
        <div class="col-12 col-md mx-3 p-4">
          <h5 class="card-title"><strong>{{ task.title }}</strong></h5>
          <h6>{{ task.company.company_name }}</h6>

          <p class="text-secondary my-3">
            {% if task.description %}
            {{ task.description | truncatechars:250 }}
            {% endif %}
          </p>

          <small class="text-muted">
            Zeitraum vom {{ task.start_date }} bis {{ task.end_date }}
          </small>
        </div>

        <div class="col-12 d-none d-md-block col-md mx-3 p-4 bg-light">

          <div class="row">
            <div class="col-12 col-lg">
              <p>
                <small class="text-muted">Benötigte Helfer:</small><br>
                {{ task.helpers_count }}<br><br>
                <small class="text-muted">Postleitzahl:</small><br>
                {{ task.zip_code }}
              </p>
            </div>
            <div class="col-12 col-lg">
              <small class="text-muted">Kategorie:</small><br>
              {{ task.category.name }}<br><br>
              <small class="text-muted">Führerscheinklassen:</small><br>
              {% if not task.drivers_licenses.all.exists %}
                -/-
              {% endif %}
              {% for license in task.drivers_licenses.all %}
                <span class="badge badge-pill badge-success">{{ license.class_name }}</span>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>

    </div>
    </a>

    {% endfor %}
  </div>

  <div class="row justify-content-between align-items-center mt-5">
    <div class="col text-left">
      {% if page_obj.has_previous %}
        <a class="btn btn-primary" href="/tasks?page={{ page_obj.previous_page_number }}">&larr; Vorherige Seite</a>
      {% endif %}
    </div>
    <div class="col text-center">
      <p class="m-0">
        Seite {{ page_obj.number }} von {{ num_pages }}
      </p>
    </div>
    <div class="col text-right">
      {% if page_obj.has_next %}
        <a class="btn btn-primary" href="/tasks?page={{ page_obj.next_page_number }}">Nächste Seite &rarr;</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
