{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
    <div class="container my-3">
        <nav>
            {% if is_helfer %}
                <ol class="breadcrumb mb-1">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/tasks">Aufgabenliste</a></li>
                    <li class="breadcrumb-item active">{{ task.title }}</li>
                </ol>
            {% elif is_owner %}
                <ol class="breadcrumb mb-1">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li><li class="breadcrumb-item active">{{ task.title }}</li>
                </ol>
            {% endif %}
        </nav>

        <div class="card">
            <div class="p-3">
                <table class="table table-light my-1">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold" style="width: 25%">Titel:</td>
                            <td>{{ task.title }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Kategorie:</td>
                            <td>{{task.category.name}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Zeitraum:</td>
                            <td>{{ task.start_date }} bis {{ task.end_date }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Benötigte Führerscheinklassen:</td>
                            <td>
                                {% for license in licenses %}
                                    <span class="badge badge-pill badge-secondary">{{ license.class_name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Ort:</td>
                            <td>{% firstof task.zip_code '-' %}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Beschreibung: </td>
                            <td>{{ task.description }}</td>
                        </tr>
                    </tbody>
                </table>

                {% if is_helfer and not is_participating %}
                    <div class="text-center my-3">
                        <a type="button" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;" href="/tasks/{{ task.id }}/participate">
                        Mitmachen!
                        </a>
                    </div>
                {% elif is_owner %}
                    <div class="text-center my-3">
                        <a type="button" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;" href="/tasks/{{ task.id }}/edit">
                        Bearbeiten
                        </a>
                        <a type="button" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;" href="/tasks/{{ task.id }}/finish">
                        Beenden
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>
{% endblock %}
