{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
  <div class="container my-3">
    <nav>
      <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Betriebsliste</li>
      </ol>
    </nav>

    <table class="table table-light table-striped my-1">
      <thead class="thead-light">
        <tr>
          <th style="width: 35%">Wer sucht?</th>
          <th style="width: 15%">Wo?</th>
          <th style="width: 35%">Was?</th>
          <th style="width: 15%">Hilf mit!</th>
        </tr>
      </thead>
      <tbody>
        {% for company in companies %}
          <tr>
            <td>{{ company.company_name }}</th>
            <td>{% firstof company.zip_code '-' %}, {% firstof company.city '-' %}</td>
            <td>{{ company.description }}</td>
            <td>
              <a class="btn btn-light rounded" href="/companies/{{ company.id }}">
                <i class="far fa-eye"></i>
                Profil öffnen
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}
