{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
  <div class="container my-3">
    <nav>
      <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/companies">Betriebsliste</a></li>
        <li class="breadcrumb-item active">{{ company.company_name }}</li>
      </ol>
    </nav>

    <div class="card my-1">
        <div  class="row">
          <div class="col-3">
            <!--TODO: Default Profilbild und Abfrage-->
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" class="card-img img-fluid" style="height: 100%; width: 100%" alt="Profilbild" >
          </div>
            <div class="card-body col-9">
                <table class="table table-light">
                    <tr>
                        <td class="font-weight-bold" style="width:25%">Name: </td>
                        <td>{{ company.company_name }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Selbstbeschreibung: </td>
                      <td>{{ company.description }}</td>
                  </tr>
                </table>
            </div>
        </div>
  </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}

