{% extends 'layout.html' %}
{% load static %}

{% block content %}
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static '/img/logo.png' %}" style="max-width: 100px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login">Einloggen / Registrieren</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container-fluid">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Filteroptionen</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        {% for c in categories %}
          <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
      </select>
    </div>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="col-3">Wer sucht?</th>
            <th class="col-1">Wo?</th>
            <th class="col-3">Was?</th>
            <th class="col-1">Hilf mit!</th>
          </tr>
        </thead>
        <tbody>
          {% for company in companies %}
          <tr>
            <td>{{ company.company_name }}</th>
            <td>{{ company.owner.zip_code }}</td>
            <td>{{ company.description }}</td>
            <td>
              <button type="button" class="btn btn-light rounded">
                <i class="far fa-eye"></i>
                Profil öffnen
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="fixed-bottom bg-light">
    <div class="container text-center">
        <img src="{% static '/img/wirvsvirus.jpg' %}" class="" alt="#WirVsVirus">
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}
