{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    {% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
    <style>
    html, body {
        font-family: 'Open Sans', sans-serif;
    }
    </style>
    {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

    <!-- Scripts -->
    {% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <script src="{% static 'js/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select/defaults-de_DE.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    {% endblock %}
</body>

</html>
