{% load static %}

  <!-- Footer -->
  <footer class="fixed-bottom bg-light">
    <div class="container p-1">

      <div class="row">
        <div class="col-sm">
          <a href="https://wirvsvirushackathon.org/"><img height="30px" src="{% static '/img/wirvsvirus.jpg' %}" alt="#WirVsVirus"></a>
        </div>
        <div class="col-sm text-right">
          <a href="/imprint">Impressum</a>
           |
          <a href="/privacy">Datenschutzerklärung</a>
        </div>

    </div>
</footer>
