{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
    <div class="container">
        <a href="/tasks" class="btn btn-success rounded-pill my-3">
            <i class="fas fa-hands-helping"></i>
            Wo kann ich helfen?
        </a>
        <a href="/companies" class="btn btn-success rounded-pill my-3">
            <i class="fas fa-tractor"></i>
            Liste der Betriebe
        </a>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} my-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row my-1">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Ich helfe bei:
                        </h5>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for interest in approved_interests %}
                                    <li class="list-group-item">
                                        <p class="font-weight-bold">
                                            {{ interest.task.title }}
                                            <a class="btn btn-sm rounded-pill float-right" style="background-color: #a88b48; border: none;" href="/tasks/{{ interest.task.id }}">
                                                <i class="far fa-eye"></i>
                                                Aufgabe öffnen
                                            </a>
                                        </p>
                                        <p> Beschreibung: {{ interest.task.description }} </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Ich habe Interesse an:
                            <a class="btn btn-sm rounded-pill float-right" style="background-color: #a88b48; border: none;" href="/interests">
                                <i class="far fa-eye"></i>
                                Interessensliste öffnen
                            </a>
                        </h5>
                        <ul class="list-group">
                            {% for interest in interests %}
                                <li class="list-group-item">
                                    <span class="font-weight-bold">Interessiert an:</span>
                                    <span>{{ interest.task.title }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}

