{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
    <div class="container my-3">
        <nav>
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/tasks">Aufgabenliste</a></li>
                <li class="breadcrumb-item active">{{ task.title }}</li>
            </ol>
          </nav>

        <div class="card">
            <div class="p-3">
                <table class="table table-light my-1">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold" style="width: 25%">Titel:</td>
                            <td>
                                <input name="title" class="form-control" value="{{ task.title }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Zeitraum:</td>
                            <td>
                                <div class="input-group my-1">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="start_date">
                                            <i class="fas fa-calendar-alt"></i>
                                        </label>
                                    </div>
                                    <input name="start_date" value="{{ task.start_date | date:'Y-m-d' }}" type="date" class="form-control" id="start_date" required>
                                    <label class="col-sm-auto col-form-label">bis</label>
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="end_date">
                                            <i class="fas fa-calendar-alt"></i>
                                        </label>
                                    </div>
                                    <input name="end_date" value="{{task.end_date | date:'Y-m-d' }}" type="date" class="form-control" id="end_date" required>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Benötigte Führerscheinklassen:</td>
                            <td>
                                <div class="input-group my-1">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="drivers_licenses">Führerschein</label>
                                    </div>
                                    <select name="drivers_licenses" multiple data-style="bg-white" class="selectpicker border rounded" id="drivers_licenses">
                                        <!-- Führerscheinklassen -->
                                        {% for license in licenses %}
                                            <option value="{{ license.id }}" {% if license in task.drivers_licenses.all %}selected{% endif %}>{{ license.class_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Ort:</td>
                            <td>
                                <input name="zip_code" class="form-control" value="{% firstof task.zip_code '-' %}">
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Beschreibung: </td>
                            <td>
                                <textarea name="description" class="form-control" rows="3" required>{{task.description}}</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center my-3">
                    <button type="button" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;">Speichern!</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>
{% endblock %}
