{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <!-- Navigation -->
  {% include 'components/navbar.html' %}

  <div class="container-fluid">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Filteroptionen</h5>
        <div class="input-group my-1">
          <div class="input-group-prepend">
            <label class="input-group-text" for="categorieSelect">Aufgaben Kategorien</label>
          </div>
          <select class="custom-select" id="categorieSelect" length="400px">
            <!-- Kategorien -->
            {% for c in categories %}
              <option>Alles</option>
              <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group my-1">
          <div class="input-group-prepend">
            <label class="input-group-text" for="driverLicenseSelect">Führerschein</label>
          </div>
          <select multiple data-style="bg-white" class="selectpicker border rounded" id="driverLicenseSelect">
            <!-- Führerscheinklassen -->
            {% for license in licenses %}
              <option value="{{ license.id }}">{{ license.class_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group my-1">
          <div class="input-group-prepend">
            <label class="input-group-text" for="dateSelect">
              <i class="fas fa-calendar-alt"></i>
            </label>
          </div>
          <input type="date" class="form-control" id="dateSelect">
        </div>
      </div>
    </div>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="col-3">Was?</th>
            <th class="col-1">Wo?</th>
            <th class="col-3">Wer sucht?</th>
            <th class="col-1">Anforderungen?</th>
            <th class="col-3">Hilf mit!</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <td>{{ task.description }}</th>
            <td>{{ task.company.owner.zip_code}}</td>
            <td>{{ task.company.company_name }}</td>
            <td>{{ task.requirements}}</td>
            <td>
              <button type="button" class="btn btn-light rounded">
                <i class="far fa-eye"></i>
                Details zur Aufgabe
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- /.container -->

{% include 'components/footer.html' %}

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
  $(function () {
    $('.selectpicker').selectpicker();
  });
</script>
{% endblock %}
