{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}

<link href="{% static 'css/list.css' %}" rel="stylesheet">
<link href="{% static 'css/background.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}

<div class="bg1">
    <div class="container py-3">
        <div class="card">
            <div class="p-3">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-3">Titel:</td>
                            <td>{{ task.title }}</td>
                        </tr>
                        <tr>
                            <td>Zeitraum:</td>
                            <td>{{ task.start_date }} bis {{ task.end_date }}</td>
                        </tr>
                        <tr>
                            <td>Benötigte Führerscheinklassen:</td>
                            <td>
                                {% for license in licenses %}
                                    <span class="badge badge-pill badge-secondary">{{ license.class_name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Ort:</td>
                            <td>{% firstof task.company.zip_code '-' %}, {% firstof task.company.city '-' %}</td>
                        </tr>
                        <tr>
                            <td>Beschreibung: </td>
                            <td>{{ task.description }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center my-3">
                    <button type="button" class="btn btn-lg btn-primary rounded-pill" style="background-color: #a88b48; border: none;">Mitmachen!</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'components/footer.html' %}

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>
{% endblock %}
